.search {
  border-radius: 8px;
  border: 1px solid var(--light-border-color);
  box-shadow: 0px 8px 20px var(--light-border-color);
  font-size: 1.2rem;
  height: 40px;
  outline: 0;
  padding: 20px;
  width: 400px;
}

.clear {
  background: transparent;
  cursor: pointer;
  padding: 6px;
  border: 0;
  position: relative;
  left: -40px;
}

.clear:active {
  top: 3px;
}
